@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-libre);

  --animate-opacity: opacity 0.25s ease-in-out;
  --animate-appearFromRight: appearFromRight 300ms ease-in-out;
  --animate-wiggle: wiggle 1.5s ease-in-out infinite;
  --animate-popup: popup 0.25s ease-in-out;

  @keyframes opacity {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes appearFromRight {
    0% {
      opacity: 0.3;
      transform: translate(15%, 0px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
  }

  @keyframes wiggle {

    0%,
    20%,
    80%,
    100% {
      transform: rotate(0deg);
    }

    30%,
    60% {
      transform: rotate(-2deg);
    }

    40%,
    70% {
      transform: rotate(2deg);
    }

    45% {
      transform: rotate(-4deg);
    }

    55% {
      transform: rotate(4deg);
    }
  }

  @keyframes popup {
    0% {
      transform: scale(0.8);
      opacity: 0.8;
    }

    50% {
      transform: scale(1.1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

html[data-theme="light"] {
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(0% 0 0);
  --color-base-content: oklch(97.26% 0.0338 33.02);
  --color-primary: oklch(97.26% 0.0338 33.02);
  --color-primary-content: oklch(19.73% 0.0221 16.89);
  --color-secondary: oklch(97.26% 0.0338 33.02);
  --color-secondary-content: oklch(19.73% 0.0221 16.89);
  --color-accent: oklch(97.26% 0.0338 33.02);
  --color-accent-content: oklch(19.73% 0.0221 16.89);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(97.26% 0.0338 33.02);
}

html,
body {
  scroll-behavior: smooth !important;
}

section {
  background-color: var(--color-base-100);
}

progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.btn {
  text-transform: capitalize !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}